* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variaveis 

Ubuntu
Nunito
Roboto

*/

:root {
  --fonts--titles--content: "Roboto", sans-serif;
}

body {
  height: auto;
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.content {
  width: 100%;
  text-align: center;
  align-items: center;
}

.image {
  width: 400px;
  margin: 3.5% 2%;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.image:hover {
  transform: translateY(3px);
}

.box {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.btn-submit {
  width: 60%;
  height: 50px;
  background: linear-gradient(to right, rgb(51, 82, 223), rgba(91, 195, 255));
  border: 1px solid rgba(51, 82, 223, 0.5);
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.btn-submit a {
  text-decoration: none;
  color: White;
}

.btn-submit:hover {
  transform: translateY(1px);
  background: rgba(19, 56, 221, 0.9);
}

.btn-submit:active {
  transform: translateY(3px);
  transition: 0.2s ease-in-out;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .image {
    width: 300px;
    margin: 6% 2%;
    position: relative;
    margin-top: 100px;
  }

  .btn-submit {
    /* position: relative; */
    width: 80%;
    height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .image {
    width: 50%;
    margin: 6% 2%;
    position: relative;
    margin-top: 100px;
  }

  .btn-submit {
    width: 90%;
    height: 50px;
  }
}

@media screen and (max-width: 430px) {
  .image {
    width: 300px;
    margin: 6% 2%;
    position: relative;
    margin-top: 100px;
  }

  .btn-submit {
    width: 100%;
    height: 50px;
  }
}
