* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header {
  width: 100%;
}

a {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Ubuntu";
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.logo {
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Nunito";
  font-weight: bold;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  transition: 0.5s;
}

.nav-list li:hover {
  transform: translateY(3px);
}

.btn {
  background: rgba(21, 52, 230, 0.8);
  width: 40px;
  height: 5vh;
  border: 0;
  border-radius: 50px;
}

.icon {
  color: aliceblue;
  border-radius: 50px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* Section */

section {
  width: 100%;
  height: 92vh;
  background-image: url(../../assets/job2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
}

.content-box {
  margin: 4%;
  width: 40%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.5rem 2rem;
  text-align: justify;
  font-family: "Ubuntu";
  color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.content-box h1 {
  color: rgba(0, 0, 0);
  text-align: center;
  padding: 1.5rem 2rem;
}

.content-box p {
  padding: 2%;
}

.btn-get-started {
  margin: 10% 2%;
  width: 30%;
  height: auto;
  padding: 1rem;
  font-family: "Ubuntu";
  font-size: 18px;
  border-radius: 15px;
  background: rgba(21, 52, 230, 0.5);
  border: 2px solid rgba(21, 52, 230, 0.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  align-items: center;
  position: absolute;
}

.btn-get-started:hover {
  color: white;
  background: rgba(21, 52, 230, 0);
  transform: translateY(2px);
}

.btn-get-started a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.btn-get-started a:hover {
  color: rgba(21, 52, 230, 0.5);
}

.icon-arrow {
  margin-left: 5px;
}

/* Article */

.arrow {
  width: 2.5%;
  height: 5vh;
  border-radius: 50%;
  top: 95%;
  left: 50%;
  position: absolute;
  background: rgba(21, 52, 230, 0.8);
  transition: 0.5s ease-out;
}

.arrow-progress {
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: center;
}

/* Medias Queries */

@media screen and (max-width: 1307px) {
  .btn-get-started {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  nav {
    padding: 1.5rem 4rem;
  }

  .nav-list {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }

  .nav-item {
    display: block;
    padding: 1.2rem;
    transition: 0.2s;
  }

  .nav-item:hover {
    border-bottom: 4px solid rgba(0, 43, 184, 0.3);
  }

  .open {
    display: block;
  }

  .content-box {
    margin: 4%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .btn-get-started {
    display: none;
  }

  .btn-get-started a {
    color: white;
  }

  @media screen and (max-width: 880px) {
    .content-box {
      margin: 4%;
      width: 100%;
      height: 50vh;
    }
  }
}

@media screen and (max-width: 580px) {
  .btn-get-started {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .btn-get-started {
    display: none;
  }

  .content-box {
    margin: 4%;
    width: 100%;
    height: auto;
  }

  section {
    height: auto;
  }
}
